:root {
    --first-color: #cccccc;
    --second-color: #031CA6;
    --third-color: #21318b;
    --fourth-color:rgb(21, 21, 68) ;
    --fifth-color: #818181;
    --sixth-color:#0f2c84;
    --first-img: url(../img/rich-smith-PVvr1ScBd_0-unsplash.jpg) ;
    --font-1:  'Unbounded', sans-serif;
    --font-2: 'Raleway', sans-serif;
}




body{
    font-family: var(--font-1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar-toggler{
    background-color: var(--first-color);
}

.container-1{
    
    max-width: 100%;
    height: 100vh;
    background: var(--fifth-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-brand{
    color: var(--fifth-color);
}


.container-2{
    
    max-width: 100%;
    height: 100vh;
    padding: -12;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 img{
    
    max-width: 100%;
    height: 50%
}
.container-bento{
    
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/bentou.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}

.container-coco{
    
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/cocomaniaMockup.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}
.container-coco-2{
    
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/mockupCocomania2.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}


.container-4{
    
    max-width: 100%;
    height: 100vh;
    padding: -12;
   justify-content: center;
   align-content: center;
   padding-top: 20%;
}


.about-img{
    
    width: 100%;
    height: 100%
}

.about-col{
    
    background-color: var(--third-color);
}

.bg-col-1{
    background-color: var(--fourth-color);
    color:  white;
}

.bg-col-2{
    background-color: var(--first-color);
    color:  var(--second-color);
}

.row-vertical{
    width: 100%;
    height: 50%;
}

.header-text{
    font-weight: 600;
    color: var(--second-color);
}
.header-text-2{
    font-weight: 600;
   
}

.header-section{
    font-weight: 500;
    color: var(--second-color);
}

.header-section-link {
    font-weight: 300;
    color: var(--first-color);
   
}

.header-section-link:hover {
    font-weight: 300;
    color: var(--first-color);
   
}


span{
    color: rgb(230, 230, 230);
    
}
.span-2{
    color: rgb(29, 29, 29); 
    font-weight: 700;
}

.nav-container{
    background-color: var(--third-color);
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 2;
    
   
}

.nav-section{
    margin-left: 2rem;
    font-size: 1.2rem;
    color: var(--first-color);
    z-index: 0;
}

.nav-section:hover{
    color: var(--fifth-color);
}

.nav-section-dropdown{
    
    font-size: 1.2rem;
}
   

.nav-section-dropdown:hover{
    color: var(--third-color);
   
}

 .seccion-con-imagen {
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/rich-smith-PVvr1ScBd_0-unsplash.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
   
}

.seccion-con-imagen-web {
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/daniel-korpai-HyTwtsk8XqA-unsplash.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}


.seccion-con-imagen-pc{
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/artiom-vallat-0F2tAwBmBjo-unsplash.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}

.seccion-con-imagen-3d{
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/3d.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}


.content{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 1;
    max-width: 100%;
    height: 100vh;
    text-align: center;

}

.content-title{
    font-weight: 600;
    font-size: 5rem;
    color: white;
   

}
 


.content-link {
    font-weight: 400;
    font-size: 2rem;
    color:white;
  
  
}


.img-web{
   width: fit-content;
}

.img-link {
    display: inline-block;
    position: relative;
}

.img-link img {
    transition: opacity 0.3s;
}

.img-link:hover img {
    opacity: 0.9;
}


.scroll-effect {
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.9s ease, opacity 0.5s ease;
}

.scroll-effect.active {
    transform: translateY(0);
    opacity: 1;
}

.about-section{
    padding: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    background-color: var(--fourth-color);
    color: var(--first-color);
    font-family: var(--font-2);
}

.about-section-1{
    align-items: center;
    justify-content: center;
    background-color: var(--fourth-color);
    color: var(--first-color);
   
}

.seccion-con-imagen-drops {
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/dropsmockup2.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

}
.seccion-con-imagen-karina {
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/DelCarpioMockup.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.seccion-con-imagen-demulder {
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/DeulderMockup.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.ciudad {
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/ciuda.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.ciudad-2 {
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/ciudad_de_frente.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}


.color-2
{
    color: #0d175160;
}
.btn-primary{
    color: rgb(179, 179, 179);
    background-color: rgba(17, 17, 17, 0.76);
    border: 0px;
}

iframe{
    width: 100%;
    height: 100vh;
   position: relative;
  
    
}

.half{
height: 20vh;
}


